# 1.Importação de bibliotecas

In [1]:
# Notebook de exploração e tratamento de dados
# NÃO utilizar Streamlit neste arquivo vistoq ue o mesmo é para rodar a aplicação

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import requests
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.12/dist-packages (2.0.2)

# 2. Importação da base de dados e conversão

In [2]:
# URL RAW do GitHub (arquivo Excel real)
url = "https://raw.githubusercontent.com/elissouza2023/DasboardExportacoesAco/main/data/raw/Performance-Mensal_2025.12.xls"

# Baixar o arquivo
response = requests.get(url)
response.raise_for_status()  # boa prática

with open("Performance-Mensal_2025.12.xls", "wb") as f:
    f.write(response.content)

# Ler o Excel (engine explícito para .xls)
df = pd.read_excel("Performance-Mensal_2025.12.xls", engine="xlrd")

df.head()

,Siderurgia Brasileira / Brazilian Steel Industry,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157
0,Comparativo Performance Mensal / Monthly Perfo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unid. / Unit: Mil t / Thousand Tonnes,NaN
2,Especificação\nSpecification,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dez/Nov\nDec/Nov
3,NaN,Jan\nJan,Fev\nFeb,Mar\nMar,Abr\nApr,Mai\nMay,Jun\nJun,Jul\nJul,Ago\nAug,Set\nSep,...,Abr\nApr,Mai\nMay,Jun\nJun,Jul\nJul,Ago\nAug,Set\nSep,Out\nOct,Nov\nNov,Dez\nDec,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(%)

# 3. Tratamento da Planilha

In [3]:
# lendo a planilha em excel para evitar erros de formatação, entendendo a estrutura
df_raw = pd.read_excel(
    "Performance-Mensal_2025.12.xls",
    header=None
)

df_raw.head(15)

,0,1,2,3,4,5,6,7,8,9,...,148,149,150,151,152,153,154,155,156,157
0,Siderurgia Brasileira / Brazilian Steel Industry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Comparativo Performance Mensal / Monthly Perfo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unid. / Unit: Mil t / Thousand Tonnes,NaN
3,Especificação\nSpecification,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dez/Nov\nDec/Nov
4,NaN,Jan\nJan,Fev\nFeb,Mar\nMar,Abr\nApr,Mai\nMay,Jun\nJun,Jul\nJul,Ago\nAug,Set\nSep,...,Abr\nApr,Mai\nMay,Jun\nJun,Jul\nJul,Ago\nAug,Set\nSep,Out\nOct,Nov\nNov,Dez\nDec,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(%)
6,Produção / Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aço Bruto / Crude Steel,2769.437,2574.894,2858.521,2913.622,2999.775,2836.535,2918.241,2976.77,2981.309,...,2644.864,2705.611,2833.962,2802.571,2870.446,2814.361,2988.408,2799.992,2558.686,-8.618096
8,Laminados / Rolled Products (*),2051.441,1942.836,2194.384,2211.587,2354.716,2284.417,2252.236,2257.548,2181.567,...,2012.514,2015.341,1990.566,1988.054,1979.622,1971.489,1997.846,2010.956,1473.822,-26.710381
9,Planos / Flat Products,1202.482,1144.078,1261.646,1233.065,1311.414,1285.362,1251.395,1270.671,1229.652,...,1168.752,1191.469,1156.325,1152.961,1121.444,1136.821,1113.948,1163.009,980.453,-15.696869
10,Longos / Long Products,848.959,798.758,932.738,978.522,1043.302,999.055,1000.841,986.877,951.915,...,843.762,823.872,834.241,835.093,858.178,834.668,883.898,847.947,493.369,-41.816057
11,Semiacabados P/ Vendas /\nSemifinished Product...,470.371,480.793,550.726,459.709,442.191,330.286,478.819,500.976,514.021,...,509.28,684.887,729.9,727.038,661.443,779.733,796.908,856.177,976.926,14.103275
12,Placas / Slabs,394.66,417.568,435.452,386.75,346.131,266.185,367.807,395.244,423.621,...,487.38,645.29,693.118,689.352,591.183,706.73,759.975,798.235,892.218,11.773851
13,"Blocos e Tarugos / Ingots, Blooms and Billets",75.711,63.225,115.274,72.959,96.06,64.101,111.012,105.732,90.4,...,21.9,39.597,36.782,37.686,70.26,73.003,36.933,57.942,84.708,46.19447
14,Ferro-Gusa / Pig Iron,2178.041,1999.501,2157.547,2239.881,2240.067,2123.028,2213.095,2308.4,2244.132,...,2078.591,2121.155,2239.382,2188.539,2220.661,2172.171,2308.804,2194.812,2231.537,1.673264

In [4]:
#lendo apartir da linha 4 devido linhas em branco de formatação de titulos
df = pd.read_excel(
    "Performance-Mensal_2025.12.xls",
    skiprows=4,      # pula título e textos
    header=0
)

In [5]:
#Contando linhas e colunas
df.columns
df.head()

,Unnamed: 0,Jan\nJan,Fev\nFeb,Mar\nMar,Abr\nApr,Mai\nMay,Jun\nJun,Jul\nJul,Ago\nAug,Set\nSep,...,Abr\nApr.12,Mai\nMay.12,Jun\nJun.12,Jul\nJul.12,Ago\nAug.12,Set\nSep.9,Out\nOct.12,Nov\nNov.12,Dez\nDec.5,Unnamed: 157
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(%)
1,Produção / Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aço Bruto / Crude Steel,2769.437,2574.894,2858.521,2913.622,2999.775,2836.535,2918.241,2976.770,2981.309,...,2644.864,2705.611,2833.962,2802.571,2870.446,2814.361,2988.408,2799.992,2558.686,-8.618096
3,Laminados / Rolled Products (*),2051.441,1942.836,2194.384,2211.587,2354.716,2284.417,2252.236,2257.548,2181.567,...,2012.514,2015.341,1990.566,1988.054,1979.622,1971.489,1997.846,2010.956,1473.822,-26.710381
4,Planos / Flat Products,1202.482,1144.078,1261.646,1233.065,1311.414,1285.362,1251.395,1270.671,1229.652,...,1168.752,1191.469,1156.325,1152.961,1121.444,1136.821,1113.948,1163.009,980.453,-15.696869

# 4. Tratamento de linhas e colunas

In [6]:
#Remover colunas vazias
df = df.dropna(axis=1, how="all")
#Preencher células mescladas “quebradas”
df.iloc[:, 0] = df.iloc[:, 0].ffill()
#Padronizar nomes de colunas
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [7]:
# Visualizando as colunas
df.columns

Index(['unnamed:_0', 'jan\njan', 'fev\nfeb', 'mar\nmar', 'abr\napr',
       'mai\nmay', 'jun\njun', 'jul\njul', 'ago\naug', 'set\nsep',
       ...
       'abr\napr.12', 'mai\nmay.12', 'jun\njun.12', 'jul\njul.12',
       'ago\naug.12', 'set\nsep.9', 'out\noct.12', 'nov\nnov.12', 'dez\ndec.5',
       'unnamed:_157'],
      dtype='object', length=158)

In [8]:
for col in df.columns:
    print(col)

unnamed:_0
jan
jan
fev
feb
mar
mar
abr
apr
mai
may
jun
jun
jul
jul
ago
aug
set
sep
out
oct
nov
nov
dez
dez
jan
jan.1
fev
feb.1
mar
mar.1
abr
apr.1
mai
may.1
jun
jun.1
jul
jul.1
ago
aug.1
set
sep.1
out
oct.1
nov
nov.1
dez
dez.1
jan
jan.2
fev
feb.2
mar
mar.2
abr
apr.2
mai
may.2
jun
jun.2
jul
jul.2
ago
aug.2
set
sep.2
out
oct.2
nov
nov.2
dez
dez.2
jan
jan.3
fev
feb.3
mar
mar.3
abr
apr.3
mai
may.3
jun
jun.3
jul
jul.3
ago
aug.3
set
sep.3
out
oct.3
nov
nov.3
dez
dez.3
jan
jan.4
fev
feb.4
mar
mar.4
abr
apr.4
mai
may.4
jun
jun.4
jul
jul.4
ago
aug.4
set
sep.4
out
oct.4
nov
nov.4
dez
dez.4
jan
jan.5
fev
feb.5
mar
mar.5
abr
apr.5
mai
may.5
jun
jun.5
jul
jul.5
ago
aug.5
set
sep.5
out
oct.5
nov
nov.5
dez
dez.5
jan
jan.6
fev
feb.6
mar
mar.6
abr
apr.6
mai
may.6
jun
jun.6
jul
jul.6
ago
aug.6
set
sep.6
out
oct.6
nov
nov.6
dez
dez.6
jan
jan.7
fev
feb.7
mar
mar.7
abr
apr.7
mai
may.7
jun
jun.7
jul
jul.7
ago
aug.7
set
sep.7
out
oct.7
nov
nov.7
dez
dec
jan
jan.8
fev
feb.8
mar
mar.8
abr
apr.8
mai
may.8
jun
jun.8
jul
jul.8
ago
aug.8
set
set
out
oct.8
nov
nov.8
dez
dec.1
jan
jan.9
fev
feb.9
mar
mar.9
abr
apr.9
mai
may.9
jun
jun.9
jul
jul.9
ago
aug.9
set
set.1
out
oct.9
nov
nov.9
dez
dec.2
jan
jan.10
fev
feb.10
mar
mar.10
abr
apr.10
mai
may.10
jun
jun.10
jul
jul.10
ago
aug.10
set
set.2
out
oct.10
nov
nov.10
dez
dec.3
jan
jan.11
fev
feb.11
mar
mar.11
abr
apr.11
mai
may.11
jun
jun.11
jul
jul.11
ago
aug.11
set
sep.8
out
oct.11
nov
nov.11
dez
dec.4
jan
jan.12
fev
feb.12
mar
mar.12
abr
apr.12
mai
may.12
jun
jun.12
jul
jul.12
ago
aug.12
set
sep.9
out
oct.12
nov
nov.12
dez
dec.5
unnamed:_157

In [9]:
# Renomeando a coluna Principal
df = df.rename(columns={"unnamed:_0": "produto"})
df.columns

Index(['produto', 'jan\njan', 'fev\nfeb', 'mar\nmar', 'abr\napr', 'mai\nmay',
       'jun\njun', 'jul\njul', 'ago\naug', 'set\nsep',
       ...
       'abr\napr.12', 'mai\nmay.12', 'jun\njun.12', 'jul\njul.12',
       'ago\naug.12', 'set\nsep.9', 'out\noct.12', 'nov\nnov.12', 'dez\ndec.5',
       'unnamed:_157'],
      dtype='object', length=158)

In [10]:
#Remover colunas duplicadas em inglês
meses_pt = [
    "jan", "fev", "mar", "abr", "mai", "jun",
    "jul", "ago", "set", "out", "nov", "dez"
]

In [11]:
#Filtrando as colunas válidas
colunas_validas = ["produto"] + [
    col for col in df.columns
    if any(col.startswith(mes) for mes in meses_pt)
]

df = df[colunas_validas]

In [12]:
#Criar o eixo temporal (ANO + MÊS)
anos = list(range(2013, 2026))

In [13]:
#Mapear colunas para (ano, mês)
novas_colunas = ["produto"]

i = 0
for ano in anos:
    for mes in meses_pt:
        if i + 1 < len(df.columns):
            novas_colunas.append(f"{ano}_{mes}")
            i += 1

df.columns = novas_colunas

In [14]:
# Salvar base tratada em formato largo (intermediário)
df.to_csv(
    "exportacoes_aco_tratado_largo.csv",
    index=False,
    encoding="utf-8"
)

In [15]:
#Converter para formato LONGO (ideal para dashboard)
df_long = df.melt(
    id_vars="produto",
    var_name="ano_mes",
    value_name="volume"
)

In [16]:
#Separar ano e mês:
df_long[["ano", "mes"]] = df_long["ano_mes"].str.split("_", expand=True)

In [17]:
#Limpar
df_long = df_long.dropna(subset=["volume"])

# 5. Visualizando os dados

In [18]:
df.head()

,produto,2013_jan,2013_fev,2013_mar,2013_abr,2013_mai,2013_jun,2013_jul,2013_ago,2013_set,...,2025_mar,2025_abr,2025_mai,2025_jun,2025_jul,2025_ago,2025_set,2025_out,2025_nov,2025_dez
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Produção / Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aço Bruto / Crude Steel,2769.437,2574.894,2858.521,2913.622,2999.775,2836.535,2918.241,2976.770,2981.309,...,2881.835,2644.864,2705.611,2833.962,2802.571,2870.446,2814.361,2988.408,2799.992,2558.686
3,Laminados / Rolled Products (*),2051.441,1942.836,2194.384,2211.587,2354.716,2284.417,2252.236,2257.548,2181.567,...,2042.231,2012.514,2015.341,1990.566,1988.054,1979.622,1971.489,1997.846,2010.956,1473.822
4,Planos / Flat Products,1202.482,1144.078,1261.646,1233.065,1311.414,1285.362,1251.395,1270.671,1229.652,...,1148.143,1168.752,1191.469,1156.325,1152.961,1121.444,1136.821,1113.948,1163.009,980.453

In [19]:
#VErificando tamanho
df.shape

(49, 157)

In [20]:
#Ver todas as colunas (sem cortar)
pd.set_option("display.max_columns", None)
df.head()

,produto,2013_jan,2013_fev,2013_mar,2013_abr,2013_mai,2013_jun,2013_jul,2013_ago,2013_set,2013_out,2013_nov,2013_dez,2014_jan,2014_fev,2014_mar,2014_abr,2014_mai,2014_jun,2014_jul,2014_ago,2014_set,2014_out,2014_nov,2014_dez,2015_jan,2015_fev,2015_mar,2015_abr,2015_mai,2015_jun,2015_jul,2015_ago,2015_set,2015_out,2015_nov,2015_dez,2016_jan,2016_fev,2016_mar,2016_abr,2016_mai,2016_jun,2016_jul,2016_ago,2016_set,2016_out,2016_nov,2016_dez,2017_jan,2017_fev,2017_mar,2017_abr,2017_mai,2017_jun,2017_jul,2017_ago,2017_set,2017_out,2017_nov,2017_dez,2018_jan,2018_fev,2018_mar,2018_abr,2018_mai,2018_jun,2018_jul,2018_ago,2018_set,2018_out,2018_nov,2018_dez,2019_jan,2019_fev,2019_mar,2019_abr,2019_mai,2019_jun,2019_jul,2019_ago,2019_set,2019_out,2019_nov,2019_dez,2020_jan,2020_fev,2020_mar,2020_abr,2020_mai,2020_jun,2020_jul,2020_ago,2020_set,2020_out,2020_nov,2020_dez,2021_jan,2021_fev,2021_mar,2021_abr,2021_mai,2021_jun,2021_jul,2021_ago,2021_set,2021_out,2021_nov,2021_dez,2022_jan,2022_fev,2022_mar,2022_abr,2022_mai,2022_jun,2022_jul,2022_ago,2022_set,2022_out,2022_nov,2022_dez,2023_jan,2023_fev,2023_mar,2023_abr,2023_mai,2023_jun,2023_jul,2023_ago,2023_set,2023_out,2023_nov,2023_dez,2024_jan,2024_fev,2024_mar,2024_abr,2024_mai,2024_jun,2024_jul,2024_ago,2024_set,2024_out,2024_nov,2024_dez,2025_jan,2025_fev,2025_mar,2025_abr,2025_mai,2025_jun,2025_jul,2025_ago,2025_set,2025_out,2025_nov,2025_dez
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Produção / Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aço Bruto / Crude Steel,2769.437,2574.894,2858.521,2913.622,2999.775,2836.535,2918.241,2976.770,2981.309,2980.320,2727.159,2625.874,2763.104,2621.952,2979.472,2773.487,2891.691,2718.474,2969.407,2963.390,2874.880,3052.400,2666.147,2622.630,2995.593,2666.853,2768.357,2897.342,2983.106,2776.468,2876.648,2798.697,2500.816,2982.512,2547.996,2463.199,2515.700,2453.030,2529.206,2321.756,2612.378,2576.690,2841.267,2960.970,2788.269,2966.380,2672.537,2404.204,2868.134,2611.526,2887.216,2927.012,2952.183,2673.045,2852.292,2981.321,2986.492,3095.382,3075.159,2867.874,2913.796,2765.939,3113.184,2994.530,2724.472,2969.824,3086.315,2914.206,3080.824,3223.519,2911.253,2708.686,3020.806,2746.747,2877.683,2970.006,2826.295,2882.544,2504.754,2536.573,2394.487,2690.470,2656.803,2461.766,2740.451,2772.437,2722.125,1929.293,2255.698,2148.399,2626.427,2759.058,2645.379,2853.744,3017.509,2944.336,3022.874,2867.058,2801.841,3037.100,3125.149,3068.510,3091.223,3203.383,3107.897,2968.449,3133.901,2643.682,2937.003,2721.969,3000.046,2946.670,2985.381,2933.027,2845.561,2889.893,2786.556,2907.374,2636.321,2499.694,2728.997,2468.969,2722.240,2768.181,2789.967,2571.168,2737.343,2760.886,2585.646,2645.469,2722.332,2528.977,2732.632,2775.033,2773.146,2711.574,2576.464,2850.480,3100.107,3005.301,2894.263,3070.396,2781.430,2609.369,2769.952,2675.986,2881.835,2644.864,2705.611,2833.962,2802.571,2870.446,2814.361,2988.408,2799.992,2558.686
3,Laminados / Rolled Products (*),2051.441,1942.836,2194.384,2211.587,2354.716,2284.417,2252.236,2257.548,2181.567,2309.355,2199.432,2023.608,2026.777,1998.324,2279.064,2210.691,2087.139,1972.757,2100.286,2099.596,2166.998,2192.785,2041.720,1729.218,2007.832,1997.281,2160.704,2049.095,1909.180,1849.641,1925.129,1846.621,1672.381,1888.953,1844.001,1520.279,1629.177,1715.426,1770.338,1650.104,1744.087,1789.824,1929.252,1902.541,1827.894,1953.035,1793.637,1415.476,1798.843,1722.313,1962.526,1905.871,1836.383,1820.008,1872.955,1963.148,1881.495,2125.586,2009.385,1791.687,1922.323,1861.356,2129.796,2038.392,2026.739,1918.374,1947.124,1906.043,2106.905,2128.201,2053.580,1656.851,1906.685,1865.086,2060.097,1941.502,2010.469,1801.014,1894.312,1895.443,1969.295,1886.739,1774.398,1482.443,2042.982,1898.458,1902.559,1278.480,1432.067,1549.992,1656.616,1846.360,1972.024,2176.778,1955.506,2095.458,2145.117,2064.048,2082.349,2225.375,2413.377,2229.776,2263.640,2303.741,2171.131,2160.900,1938.687,1756.633,2016.547,1878.169,2132.596,2012.479,1995.151,1936.794,2147.631,2110.927,1860.389,2008.772,1910.813,1423.767,1837.123,1769.962,1874.099,1921.124,1895.671,1621.779,1925.452,1881.516,1832.501,1823.862,1814.418,1653.117,2012.813,1872.171,1967.860,1942.408,1896.328,1884.487,2160.762,2100.890,2072.806,2127.079,1952.260,1702.258,1953.364,1844.726,2042.231,2012.514,2015.341,1990.566,1988.054,1979.622,1971.489,1997.846,2010.956,1473.822
4,Planos / Flat Products,1202.482,1144.078,1261.646,1233.065,1311.414,1285.362,1251.395,1270.671,1229.652,1321.820,1218.682,1283.216,1140.996,1100.992,1276.136,1269.228,1124.949,1134.225,1208.822,1201.187,1252.248,1247.300,1157.948,1114.696,1225.941,1131.115,1289.701,1182.665,1067.229,1140.268,1135.752,1022.541,1003.582,1056.732,1059.199,1073.604,948.866,973.514,1009.634,855.866,916.127,969.087,1111.316,1072.652,1088.556,1191.252,1110.676,1025.699,1056.034,1028.093,1192.650,1156.664,1102.847,1083.197,1134.952,1209.019,1144.382,1282.848,1201.864,1094.607,1158.266,1087.979,1264.963,1221.747,1291.278,1134.386,1143.202,1087.031,1292.661,1267.632,1232.555,1075.054,1105.847,1029.166,1240.485,1163.309,1212.235,1061.634,1163.343,1087.796,1166.646,1058.362,1015.708,941.227,1225.067,1092.903,1081.677,833.669,753.579,879.430,828.746,997.552,1096.683,1257.043,1072.750,1236.552,1261.494,1210.624,1196.688,1308.472,1427.807,1295.967,1303.499,1329.501,1299.139,1234.900,1106.710,1174.693,1219.330,1086.303,1222.706,1161.401,1106.673,1107.579,1215.735,1223.357,1079.429,1146.835,1116.390,947.098,1070.645,991.941,1018.114,1056.679,1081.573,888.597,1125.298,1117.254,1117.206,981.793,1060.687,1085.923,1202.760,1068.085,1123.282,1108.884,1102.304,1086.826,1250.380,1184.386,1188.127,1195.055,1022.891,1048.780,1135.293,1038.395,1148.143,1168.752,1191.469,1156.325,1152.961,1121.444,1136.821,1113.948,1163.009,980.453

In [21]:
#voltar ao padrão
pd.reset_option("display.max_columns")

In [22]:
# Entender a estrutura
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Columns: 157 entries, produto to 2025_dez
dtypes: float64(156), object(1)
memory usage: 60.2+ KB

In [23]:
#Visualizar amostra aleatória (evita viés)
df.sample(5)

,produto,2013_jan,2013_fev,2013_mar,2013_abr,2013_mai,2013_jun,2013_jul,2013_ago,2013_set,...,2025_mar,2025_abr,2025_mai,2025_jun,2025_jul,2025_ago,2025_set,2025_out,2025_nov,2025_dez
45,(**) Vendas faturadas pelas usinas. / Sales in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Planos / Flat Products,1088.146,1019.531,1141.455,1137.847,1228.297,1225.625,1147.725,1220.747,1183.966,...,1073.383,951.609,1015.427,1091.613,1037.437,1045.074,1076.845,1035.642,1028.909,960.810
10,Vendas Internas / Domestic Sales (*),1905.819,1791.619,2062.865,2074.205,2193.013,2123.333,2095.949,2226.363,2111.765,...,1832.707,1677.180,1776.860,1865.689,1856.072,1825.940,1889.552,1814.189,1748.372,1592.296
22,Placas / Slabs,426.772,354.891,435.865,348.159,292.198,274.882,283.569,385.887,434.833,...,670.070,544.507,616.992,831.981,559.442,647.232,710.257,649.535,797.404,830.206
34,Importações / Imports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#Visualizar o DataFrame LONGO
df_long.head(10)

,produto,ano_mes,volume,ano,mes
2,Aço Bruto / Crude Steel,2013_jan,2769.437,2013,jan
3,Laminados / Rolled Products (*),2013_jan,2051.441,2013,jan
4,Planos / Flat Products,2013_jan,1202.482,2013,jan
5,Longos / Long Products,2013_jan,848.959,2013,jan
6,Semiacabados P/ Vendas /\nSemifinished Product...,2013_jan,470.371,2013,jan
7,Placas / Slabs,2013_jan,394.660,2013,jan
8,"Blocos e Tarugos / Ingots, Blooms and Billets",2013_jan,75.711,2013,jan
9,Ferro-Gusa / Pig Iron,2013_jan,2178.041,2013,jan
10,Vendas Internas / Domestic Sales (*),2013_jan,1905.819,2013,jan
11,Laminados / Rolled Products,2013_jan,1852.831,2013,jan

In [25]:
df_long.sample(10)

,produto,ano_mes,volume,ano,mes
7517,Longos / Long Products,2025_out,72.693,2025,out
1241,"Blocos e Tarugos / Ingots, Blooms and Billets",2015_fev,9.457,2015,fev
5433,Longos / Long Products\n(Inclui Blocos e Tarug...,2022_mar,891.910,2022,mar
5080,(US$ Milhões / US$ Millions),2021_ago,867.629,2021,ago
6264,Consumo Aparente / Apparent Consumption (***),2023_ago,2130.662,2023,ago
1748,(US$ Milhões / US$ Millions),2015_dez,546.000,2015,dez
3804,"Blocos e Tarugos / Ingots, Blooms and Billets",2019_jun,2.988,2019,jun
2537,Semiacabados P/ Vendas /\nSemifinished Product...,2017_abr,1.920,2017,abr
6305,(US$ Milhões / US$ Millions),2023_set,661.682,2023,set
6437,Laminados / Rolled Products,2023_dez,213.847,2023,dez

In [26]:
#Conferir valores faltantes
df_long.isna().sum()

produto    0
ano_mes    0
volume     0
ano        0
mes        0
dtype: int64

In [27]:
#Conferir distribuição por ano
df_long["ano"].value_counts().sort_index()

ano
2013    468
2014    468
2015    468
2016    468
2017    468
2018    468
2019    468
2020    468
2021    468
2022    468
2023    468
2024    468
2025    468
Name: count, dtype: int64

In [28]:
# Conferir produtos únicos
df_long["produto"].unique()

array(['Aço Bruto / Crude Steel', 'Laminados / Rolled Products (*)',
       'Planos / Flat Products', 'Longos / Long Products',
       'Semiacabados P/ Vendas /\nSemifinished Products for Sale (*)',
       'Placas / Slabs', 'Blocos e Tarugos / Ingots, Blooms and Billets',
       'Ferro-Gusa / Pig Iron', 'Vendas Internas / Domestic Sales (*)',
       'Laminados / Rolled Products',
       'Semiacabados P/ Vendas /\nSemifinished Products for Sale',
       'Vendas Externas / Foreign Market (**)',
       'Total (Mil t / Thousand Tonnes)', '(US$ Milhões / US$ Millions)',
       'Consumo Aparente / Apparent Consumption (***)',
       'Planos / Flat Products\n(Inclui Placas / Included Slabs)',
       'Longos / Long Products\n(Inclui Blocos e Tarugos / Included Ingots, Blooms and Billets)'],
      dtype=object)

In [29]:
#Visualização “bonita” no Colab
df_long.head(20).style.format({"volume": "{:,.0f}"})

5.Salvando a Exploração de dados

In [30]:
caminho_saida = "exportacoes_aco_mensal_tratado.csv"

In [31]:
df_long.to_csv(
    caminho_saida,
    index=False,
    encoding="utf-8"
)

In [32]:
#verificando se salvou
!ls

exportacoes_aco_mensal_tratado.csv  Performance-Mensal_2025.12.xls
exportacoes_aco_tratado_largo.csv   sample_data